@charset "utf-8";

header {
    padding: 5px;
    border: 1px solid #000;
}
header p {
    margin-left: 20px;
}

section {
    padding: 10px;
    margin: 10px;
    background-color: #fafafa;
}
section > p {
    font-size: 17px;
    color: #2e3;
}

footer {
    margin: 20px 0;
    font-size: 12px;
    text-align: center;
    border-top: 2px dotted #000;
}
